<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.calculation.dao.HeatConsumptionMapper">

    <insert id="insert" parameterType="com.calculation.bean.HeatConsumption">
        INSERT INTO heat_consumption (id, r, w_heat, t_heat, created_time)
        VALUES (#{id,jdbcType=INTEGER}, #{r,jdbcType=DOUBLE}, #{wHeat,jdbcType=DOUBLE},
                #{tHeat,jdbcType=DOUBLE}, #{createdTime,jdbcType=DATE})
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM heat_consumption
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

    <update id="update">
        UPDATE heat_consumption
        SET r = #{r}, w_heat=#{wHeat},t_heat=#{tHeat}
        WHERE id = #{id}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.calculation.bean.HeatConsumption">
        SELECT * FROM heat_consumption
        WHERE id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByCreatedTime" parameterType="java.util.Date" resultType="com.calculation.bean.HeatConsumption">
        SELECT * FROM heat_consumption
        WHERE created_time = #{createdTime,jdbcType=DATE}
    </select>

    <select id="getMinCreatedTime" resultType="com.calculation.bean.HeatConsumption">
        SELECT * FROM heat_consumption
        WHERE created_time = (
            SELECT MIN(created_time)
            FROM heat_consumption)
    </select>

    <select id="getAllOrderById" resultType="com.calculation.bean.HeatConsumption">
        SELECT * FROM heat_consumption
        ORDER BY id ASC
    </select>

    <select id="getAllOrderByCreatedTime" resultType="com.calculation.bean.HeatConsumption">
        SELECT * FROM heat_consumption
        ORDER BY created_time ASC
    </select>

</mapper>